.button{
  height: 40px;
  color: black;
  font-size: 14px;
  background-color: white;
  border: none;
  min-width: 60px;
  &.border{
    border: 1px solid black;
    border-radius: 20px;
  }
}

.selected{
  background-color: black;
  color: white;
}

.disabled{
  color: grey
}