.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 12px;
  width: 100%;
  border-bottom: 1px black solid;
  padding-bottom: 12px;
  justify-content: space-between;

  .left{
    display: flex;
    align-items: center;
  }

  .progress{
    position: absolute;
  }

  .right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .icon{
    color: black;
  }

  .button{
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
    border-radius: 20px;
    background-color: transparent;
    z-index: 100;
  }

  .textContainer{
    flex-direction: column;
    margin-left: 12px;
    font-size: 14px;
    color: black;
  }

  .bpm{
    font-size: 10px;
    color: grey;
  }

  .row{
    display: flex;
    flex-direction: row;
    width: 100px;
    align-items: center;
  }

  .marginLeft{
    margin-left: 12px;
    color: black;
  }
}