.App {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

header{
  display: flex;
  flex-direction: row;
}

p{
  margin: 0px;
}

.subtitle{
  font-size: 14px;
  color: grey;
  width: 100%;
  padding-bottom: 8px;
  border-bottom: 1px grey solid;
  margin-top: 12px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
